@model List<Instructor>

<header class="bg-light py-5 ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-5 fw-bolder">Sağlıklı Bir Bedene Sahip Olun! </h1>
            <p class="lead fw-normal text-dark-50 mb-0">Yogini ile Tanışın </p>
            <a asp-area="" asp-controller="Home" asp-action="Yoga" class="btn btn-warning mt-2">Yoga Nedir?</a>
        </div>
    </div>
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="/img/default.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@item.FirstName @item.LastName </h5>
                                <h6>@item.Category.Name</h6>

                                $@item.Price
                            </div>
                        </div>

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" 
                                asp-area="" 
                                asp-controller="Home" 
                                asp-action="Detail" 
                                asp-route-id="@item.Id">View options</a>
                            </div>

                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
            </section>
